# C++
/backend/build/
/backend/CMakeFiles/
/backend/Makefile/
/backend/*.cmake/
/backend/CMakeCache.txt

# .NET
/ui/bin/
/ui/obj/
/ui/FodyWeavers.xsd

# OS/editor junk
.DS_Store
*~
.vscode

# CLI
cli/fulmen
cli/*.o
cli/*.exe

# Python cache
**/__pycache__/
**/*.py[cod]
